<a href="https://colab.research.google.com/github/casjunior93/Tera---Desafio-de-classificacao/blob/main/Refeito_Tera_Desafio_de_Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio de Detecção e Redução de Fraudes no Setor Financeiro

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

O desafio é propor uma solução para detecção e análise de fraudes que possam reduzir os riscos da empresa de crédito em que trabalho e garantir margens saudáveis.

Link do dataset: https://drive.google.com/file/d/1zjK8zQK5zvhR_r2chWI5dCjeOwASlPfb/view

Vou começar importando as bibliotecas iniciais:

In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Agora importo os dados:

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Tera/DESAFIO CLASSIFICAÇÃO/fraud_detection_dataset.csv')

In [4]:
df.sample(10)

         step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
1281066   135   PAYMENT   22770.72  ...           0.00        0               0
461103     19  TRANSFER  685429.60  ...     6022631.13        0               0
5060894   354  CASH_OUT   72858.33  ...     2081216.26        0               0
241130     14   PAYMENT    8925.14  ...           0.00        0               0
6057516   500   PAYMENT    7653.76  ...           0.00        0               0
6295130   670   PAYMENT    3972.03  ...           0.00        0               0
3607335   264   CASH_IN   58212.34  ...       77058.96        0               0
910348     43   CASH_IN   69884.98  ...     1341790.91        0               0
2489185   204  CASH_OUT   68277.85  ...      154334.43        0               0
1745297   161  CASH_OUT    7425.52  ...     6586609.21        0               0

[10 rows x 11 columns]

## Conhecendo as features deste dataset

* `step` - Passo: representa o total de horas transcorrido desde o início da simulação. Esta feature vai variar entre 1 e 744 (30 dias);

* `type` - Tipo: tipo de transação (depósito, saque, débito, pagamento e transferência);

* `amount` - Quantia: total que foi transacionado;

* `nameOrig` - ClienteOrigem: cliente que iniciou a transação

* `oldbalanceOrg` - SaldoInicialOrigem: saldo da conta de origem antes da transação;

* `newbalanceOrig` - SaldoFinalOrigem: saldo da conta de origem após a transação;

* `nameDest` - ClienteDestino: cliente de destino da transação;

* `oldbalanceDest` - SaldoInicialDestino: saldo da conta de destino antes da transação;

* `newbalanceDest` - SaldoFinalDestino: saldo da conta de destino após a transação;

* `isFraud` - ÉFraude: flag que define se a transação é fraudulenta ou não. Nesta simulação o objetivo da fraude é assumir a conta do usuário, esvaziá-la transferindo para outra conta e então sacando o dinheiro.

* `isFlaggedFraud` - SinalizadaComoFraude: automaticamente marcadas pelo banco como fraude por tentarem transferir mais de 200.000 em uma única transação.

## Análise exploratória

Primeiro vou renomear as tabelas para facilitar a análise.

In [7]:
df = df.rename(
    columns={"step":"totalHoras", "type": "tipoTransacao", "amount": "quantia",
             "nameOrig": "clienteOrigem", "oldbalanceOrg": "saldoInicialOrigem",
             "newbalanceOrig": "saldoFinalOrigem", "nameDest": "clienteDestino",
             "oldbalanceDest": "saldoInicialDestino", "newbalanceDest": "saldoFinalDestino",
             "isFraud": "ehFraude", "isFlaggedFraud": "sinalizadaComoFraude"

             })
df.head(3)

   totalHoras tipoTransacao  ...  ehFraude sinalizadaComoFraude
0           1       PAYMENT  ...         0                    0
1           1       PAYMENT  ...         0                    0
2           1      TRANSFER  ...         1                    0

[3 rows x 11 columns]

Análise descritiva:

In [10]:
df.describe(include='all')

          totalHoras tipoTransacao  ...      ehFraude sinalizadaComoFraude
count   6.362620e+06       6362620  ...  6.362620e+06         6.362620e+06
unique           NaN             5  ...           NaN                  NaN
top              NaN      CASH_OUT  ...           NaN                  NaN
freq             NaN       2237500  ...           NaN                  NaN
mean    2.433972e+02           NaN  ...  1.290820e-03         2.514687e-06
std     1.423320e+02           NaN  ...  3.590480e-02         1.585775e-03
min     1.000000e+00           NaN  ...  0.000000e+00         0.000000e+00
25%     1.560000e+02           NaN  ...  0.000000e+00         0.000000e+00
50%     2.390000e+02           NaN  ...  0.000000e+00         0.000000e+00
75%     3.350000e+02           NaN  ...  0.000000e+00         0.000000e+00
max     7.430000e+02           NaN  ...  1.000000e+00         1.000000e+00

[11 rows x 11 columns]

Informações:
* Tenho 5 tipos de transação e o tipoTransacao mais frequente é CASH_OUT, com 2237500 transações.
* O cliente destino C1286084959 recebeu 113 transações no período.

Verificando a distribuição dos dados para analisar se são simétricos:

In [14]:
df.skew()

totalHoras                0.375177
quantia                  30.993949
saldoInicialOrigem        5.249136
saldoFinalOrigem          5.176884
saldoInicialDestino      19.921758
saldoFinalDestino        19.352302
ehFraude                 27.779538
sinalizadaComoFraude    630.603629
dtype: float64

A análise de assimetria indica que as variáveis apresentam uma assimetria positiva, ou seja, elas contém mais valores acima da média.