<a href="https://colab.research.google.com/github/casjunior93/Tera---Desafio-de-classificacao/blob/main/TERA_Desafio_de_Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafio de Detecção e Redução de Fraudes no Setor Financeiro**

O desafio é propor uma solução para detecção e análise de fraudes que possam reduzir os riscos da empresa de crédito em que trabalho e garantir margens saudáveis.

Vou começar importando as bibliotecas iniciais:

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Agora importo os dados:

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Tera/DESAFIO CLASSIFICAÇÃO/fraud_detection_dataset.csv')

Vou retornar 10 linhas aleatórias para visualizar o dataframe:

In [3]:
df.sample(10)

         step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
6323505   688   CASH_IN  137386.78  ...      157635.22        0               0
5285450   372   PAYMENT    4225.10  ...           0.00        0               0
5123205   356   CASH_IN   21880.95  ...      153523.98        0               0
3472664   258   CASH_IN  109046.65  ...      190544.77        0               0
4588744   328  CASH_OUT    2948.65  ...      144552.05        0               0
309647     16   CASH_IN  246328.94  ...      829034.56        0               0
4132926   302  CASH_OUT  173094.66  ...      556753.84        0               0
3823657   282  CASH_OUT   65625.95  ...      489374.24        0               0
4053410   300  CASH_OUT  192885.66  ...      437921.17        0               0
1786884   162   CASH_IN  224797.18  ...       43742.94        0               0

[10 rows x 11 columns]

## Conhecendo as features deste dataset:

* `step` - Passo: representa o total de horas transcorrido desde o início da simulação. Esta feature vai variar entre 1 e 744 (30 dias);

* `type` - Tipo: tipo de transação (depósito, saque, débito, pagamento e transferência);

* `amount` - Quantia: total que foi transacionado;

* `nameOrig` - ClienteOrigem: cliente que iniciou a transação

* `oldbalanceOrg` - SaldoInicialOrigem: saldo da conta de origem antes da transação;

* `newbalanceOrig` - SaldoFinalOrigem: saldo da conta de origem após a transação;

* `nameDest` - ClienteDestino: cliente de destino da transação;

* `oldbalanceDest` - SaldoInicialDestino: saldo da conta de destino antes da transação;

* `newbalanceDest` - SaldoFinalDestino: saldo da conta de destino após a transação;

* `isFraud` - ÉFraude: flag que define se a transação é fraudulenta ou não. Nesta simulação o objetivo da fraude é assumir a conta do usuário, esvaziá-la transferindo para outra conta e então sacando o dinheiro.

* `isFlaggedFraud` - SinalizadaComoFraude: automaticamente marcadas pelo banco como fraude por tentarem transferir mais de 200.000 em uma única transação.

# Pré-análise dos dados com SeetViz

Primeiro vou renomear as tabelas para facilitar a análise.

In [4]:
df = df.rename(
    columns={"step":"totalHoras", "type": "tipoTransacao", "amount": "quantia",
             "nameOrig": "clienteOrigem", "oldbalanceOrg": "saldoInicialOrigem",
             "newbalanceOrig": "saldoFinalOrigem", "nameDest": "clienteDestino",
             "oldbalanceDest": "saldoInicialDestino", "newbalanceDest": "saldoFinalDestino",
             "isFraud": "ehFraude", "isFlaggedFraud": "sinalizadaComoFraude"

             })
df.head(3)

   totalHoras tipoTransacao  ...  ehFraude sinalizadaComoFraude
0           1       PAYMENT  ...         0                    0
1           1       PAYMENT  ...         0                    0
2           1      TRANSFER  ...         1                    0

[3 rows x 11 columns]

Agora importo o SweetViz

In [5]:
!pip install sweetviz
import sweetviz

Requirement already satisfied: sweetviz in /usr/local/lib/python3.7/dist-packages (2.1.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.4.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.21.5)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.62.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)

O SeetViz gera um relatório em HTML com várias informações sobre as features do dataset.

In [6]:
analise=sweetviz.analyze(df)
analise.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Ao analisar o relatório do SweetViz, vi que o dataset tem 3 features categóricas (tipoTransacao, ehFraude e sinalizadaComoFraude), 6 numéricas (totalHoras, quantia, saldoInicialOrigem, saldoFinalOrigem, saldoInicialDestino e saldoFinalDestino) e 2 textuais (clienteOrigem, clienteDestino). Nenhuma feature tem valores faltantes.

# Tratamento de Dados

Vou tratar a feature categórica tipoTransacao com o método get_dummies do Pandas.

In [9]:
df.tipoTransacao.unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [10]:
df2 = pd.get_dummies(df.tipoTransacao)

A coluna tipoTransacao tem 5 valores únicos. Com o método get_dummies será criado uma coluna em um novo dataframe para cada valor único. Para cada transação, o tipo dessa transação vai receber o valor 1.

In [11]:
df2.head()

   CASH_IN  CASH_OUT  DEBIT  PAYMENT  TRANSFER
0        0         0      0        1         0
1        0         0      0        1         0
2        0         0      0        0         1
3        0         1      0        0         0
4        0         0      0        1         0

Agora concateno o df2 com o dataframe original df.

In [15]:
df3 = pd.concat([df, df2], axis='columns')
df3.sample(10)

         totalHoras tipoTransacao    quantia  ... DEBIT  PAYMENT  TRANSFER
4412483         322       PAYMENT     754.90  ...     0        1         0
2066865         181      CASH_OUT  287928.95  ...     0        0         0
4961443         351       PAYMENT    3676.76  ...     0        1         0
5251571         371       PAYMENT   18506.64  ...     0        1         0
504576           20       PAYMENT   10622.33  ...     0        1         0
3227863         250      CASH_OUT   41535.73  ...     0        0         0
5948343         405      CASH_OUT   36280.58  ...     0        0         0
4173821         304      CASH_OUT   45241.95  ...     0        0         0
1325327         137      CASH_OUT  135913.97  ...     0        0         0
2224420         186       PAYMENT    1459.74  ...     0        1         0

[10 rows x 16 columns]

Agora vou dropar a coluna tipoTransacao.

In [21]:
df3.drop('tipoTransacao', axis='columns', inplace=True)
df3.sample(3)

         totalHoras    quantia clienteOrigem  ...  DEBIT  PAYMENT TRANSFER
2428547         202  319642.03    C339622965  ...      0        0        0
1445489         140   84171.50    C936301146  ...      0        0        0
821154           40   87990.16   C1006696253  ...      0        0        0

[3 rows x 15 columns]

Agora preciso tratar as features textuais.